tox==3.24.4
black==21.9b0
isort==5.9.3
pyproject-flake8==0.0.1a2
pep8-naming==0.12.1
codespell==2.1.0
Sphinx==4.2.0
sphinx-autobuild==2021.3.14
sphinx-copybutton==0.4.0
furo==2021.10.9
myst-parser==0.15.2
sphinx-autodoc-typehints==1.12.0